h1{
color:green;
text-align:center;
}
h2{
color:purple;
text-align:center;
}
p{
color:red;
}
table{
background-color: pink;
}
td{
color:black;
font-size:24px;
}
input
{
color:black;
font-size:24px;
text-align : center;
}
select

Page | 11

{
color:green;
font-size:24px;
text-align : center;
}
input[type="submit"]:hover {
    background-color: #218838;
}

input[type="reset"]:hover {
    background-color: #dc3545; /* Red */
}

