h1{
color:green;
text-align:center;
}
h2{
color:blue;
text-align:center;
}
p{
color:Black;
}
table{
background-color: pink;
}
td{
color:black;
font-size:22px;
}
input
{
color:black;
font-size:24px;
text-align : center;
}
select

Page | 11

{
color:blue;
font-size:24px;
text-align : center;
}


